{% extends 'base.html' %}


{% block body %}
    <div class="navbar_con">
        <div class="navbar">
            <h1 class="fl">全部商品分类</h1>
            <ul class="navlist fl">
                <li><a href="">首页</a></li>
                <li class="interval">|</li>
                <li><a href="">手机生鲜</a></li>
                <li class="interval">|</li>
                <li><a href="">抽奖</a></li>
            </ul>
        </div>
    </div>
    {#        context = {#}
    {#            'categorys': categorys,  # 获取商品分类信息查询集,查询集内元素含有分类详情商品查询集#}
    {#            'banners': banners,   # 获取轮播图查询集#}
    {#            'promotion_banners': promotion_banners,   # 获取广告图查询集#}
    {#            'cart_num': cart_num   # 获取购物车计数#}
    {#        }#}
    <div class="center_con clearfix">
        <ul class="subnav fl">
            {% for category in categorys %}
                {#                商品分类信息#}
                <li><a href="#model0{{ forloop.counter }}" class="{{ category.logo }}">{{ category.name }}</a></li>

            {% endfor %}

        </ul>
        <div class="slide fl">
            <ul class="slide_pics">
                {#                轮播图#}
                {% for banner in banners %}
                    <li><img src="{{ banner.image.url }}" alt="幻灯片"></li>

                {% endfor %}

            </ul>
            <div class="prev"></div>
            <div class="next"></div>
            <ul class="points"></ul>
        </div>
        <div class="adv fl">
            {#            广告图#}
            {% for banner in promotion_banners %}
                <a href="#"><img src="{{ banner.image.url }}"></a>

            {% endfor %}

        </div>
    </div>
    {#    商品详情#}
    {% for category in categorys %}

        {#            # 标题类商品#}
        {#            category.title_goods = title_goods#}
        {#            # 图片类商品#}
        {#            category.picture_goods = picture_goods#}
        {#            #}

        <div class="list_model">
            <div class="list_title clearfix">
                <h3 class="fl" id="model0{{ forloop.counter }}">{{ category.name }}</h3>
                <div class="subtitle fl">
                    <span>|</span>
                    {#                这里是标题类商品#}
                    {% for goodsbanner in category.title_goods %}
                        <a href="{% url 'goods:detail' goodsbanner.sku.id %}">{{ goodsbanner.sku.name }}</a>

                    {% endfor %}

                </div>
                <a href="{% url 'goods:list' category.id 1 %}" class="goods_more fr" id="fruit_more">查看更多 ></a>
            </div>

            <div class="goods_con clearfix">
                <div class="goods_banner fl"><img src="{{ category.image.url }}"></div>
                <ul class="goods_list fl">
                    {#                这里是图片类商品#}
                    {% for goodsbanner in category.picture_goods %}

                        <li>
                            <h4><a href="{% url 'goods:detail' goodsbanner.sku.id %}">{{ goodsbanner.sku.name }}</a></h4>
                            <a href="{% url 'goods:detail' goodsbanner.sku.id %}"><img src="{{ goodsbanner.sku.default_image.url }}"></a>
                            <div class="prize">¥ {{ goodsbanner.sku.price }}</div>
                        </li>
                    {% endfor %}

                </ul>
            </div>
        </div>

    {% endfor %}
{% endblock body %}

{% block bottom_files %}
    <script type="text/javascript" src="js/slideshow.js"></script>
    <script type="text/javascript">
        BCSlideshow('focuspic');
        var oFruit = document.getElementById('fruit_more');
        var oShownum = document.getElementById('show_count');

        var hasorder = localStorage.getItem('order_finish');

        if (hasorder) {
            oShownum.innerHTML = '2';
        }

        oFruit.onclick = function () {
            window.location.href = 'list.html';
        }
    </script>
{% endblock %}
